<!DOCTYPE html>
<html>
<head>
    <title>Cobwebb Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="home-container">
    <h1 class="text-center mb-4">Welcome to Cobwebb <img src="{{ url_for('static', filename='img/cobwebblogo.png') }}" alt="Cobwebb Logo" style="height: 50px;"></h1>
    <p>Cobwebb can answer your questions and provide helpful information about proxies.</p>
    <p>For more info, refer to FAQ at the bottom of this page.</p>
    <a href="/chat" class="btn btn-primary btn-lg chat-button">Start Chatting</a>
  </div>
</body>
</html>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='img/sblogo.png') }}" alt="Semler Brossy Logo" height="30" class="d-inline-block align-top"> Cobwebb
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
      </li>
    </ul>
  </div>
</nav>
